@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100;300&display=swap");
@import url('header.css');
@import url('create.css');
@import url('footer.css');

:root {
  --dark: #343a40;
  --primary: #48A6E0;
  --white: #FAFBFD;
  --grey:#E2E4F9;
  --light-blue:#A2BAFA;
  --blue-2:#3F49CC;
  --blue-3:#4156d9;
  --blue-4:rgba(9,22,102,1);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  color: var(--blue-3);
}
body{
  overflow-x: hidden;
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
}
main{
  flex-grow: 1;
}
.container{
  max-width: 1200px;
  margin: auto;
}
.d-none {
  display: none;
}
.hidden{
  visibility: hidden;
  opacity: 0;
}
.visible{
  visibility: visible;
  opacity: 1;
}






