{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/bootstrap-icons.min.css' %}">
    
    {% block styles %}{% endblock %}


    <title>Task Time</title>
</head>
<body>
    <header>
        <div class="title">
            <a href="{% url 'home:main' %}">
                <h1>TaskTime</h1>
            </a>
        </div>
        <div class="nav">
            <ul>
                {% if request.path  == "/" or request.path == "" %}
                <li><a href="#home">Home</a></li>
                <li><a href="#how">How does it work</a></li>
                <li><a href="{% url 'project:main' %}">My Projects</a></li>
                {% else %}
                <li><a href="{% url 'home:main' %}#home">Home</a></li>
                <li><a href="{% url 'home:main' %}#how">How does it work?</a></li>
                <li><a href="{% url 'project:main' %}">My Projects</a></li>
                {% endif %}
            </ul>
        </div>
    </header>

    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        <div class="sections">
            <ul>
                {% if request.path  == "/" or request.path == "" %}
                <li><a href="#home">Home</a></li>
                <li><a href="#how">How does it work</a></li>
                <li><a href="{% url 'project:main' %}">My Projects</a></li>
                {% else %}
                <li><a href="{% url 'home:main' %}#home">Home</a></li>
                <li><a href="{% url 'home:main' %}#how" >How does it work</a></li>
                <li><a href="{% url 'project:main' %}" >My Projects</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="social">
            <div class="text">
                <p>Contact us</p>
            </div>
            <div class="list">
                <ul>
                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                    <li><a href="#"><i class="bi bi-whatsapp"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; Tasktime,  All rights reserved. </p>
        </div>
    </footer>
    
    {% block script %}{% endblock %}
</body>
</html>