{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'task/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'project/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/bootstrap-icons.min.css' %}">
    <title>Task Time</title>
</head>
<body>

    

    <header>
        <a href="#">
            <h1>Task Time</h1>
        </a>
    </header>

    <main>
        <div class="container">

            <div id="project">

                <!-- Messages -->
                <div class="tasks-message">
                    <div class="msg create">
                        <img src="{% static 'task/img/check.png' %}"> 
                        <p></p>
                    </div>
                    <div class="msg error">
                        <img src="{% static 'task/img/warning.png' %}"> 
                        <p>Something went wrong <br>Please, try again</p>
                    </div>
                    <div class="msg delete">
                        <img src="{% static 'task/img/trash.png' %}"> 
                        <p>Task deleted</p>
                    </div>
                </div>
                <!--/messages -->

                <div class="new-task">
                    <p class="msg hidden">Write a new project below</p>
                    <input type="text" id="input-task" placeholder="White your new project">
                    <button type="button" class="btn btn-create">Create</button>
                </div>

                <div class="list-container">
    
                    <div class="title">
                        <h2>Your current projects</h2>
                    </div>

                    <div class="lists">

                        {% for project in projects %}
                        <div class="project">
                            <div class="header">
                                <img src="{% static 'img/code.jpg' %}" alt="Code img">
                            </div>
                            <div class="body">
                                <div class="title">
                                    <h4>{{ project.title }}</h4>
                                </div>
                                <div class="description">
                                    <p class="num-components">14 Components</p>
                                    <p class="completed">20% completed</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="references d-none">
                    {% csrf_token %}
                    <input type="hidden" class="url-create" value="{% url 'task:create' %}">
                    <input type="hidden" class="url-update" value="{% url 'task:update' %}">
                    <input type="hidden" class="url-delete" value="{% url 'task:delete' %}">
                </div>
            </div>
            
        </div>
    </main>

    <footer>
        <h2>Footer</h2>
    </footer>


    <script src="{% static 'task/js/main.js' %}" type="module"></script>
</body>
</html>