.project{
    border:1px solid black;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    background-color: white;
}

.project .header  img{
    max-width: 250px;
    height: auto;
}

.project .body{
    min-height: 50px;
}

.project .body h4{
    text-align: center;
}

.project .description{
    margin-top: 10px;
}
.project .description p{
    font-size: 14px;
    color:rgba(0, 0, 0, 0.7);
    display: inline-block;
    width: 49%;
    margin-bottom: .5rem;
    text-align: center;
}