/* CREATE */       
.new-task{
    margin:auto;
    max-width: 400px;
    display: flex;
    justify-content: right;
    position: relative;
}
.new-task input{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid var(--dark);
    flex-grow: 1;
    padding: 5px;
    padding-left: 10px;
    z-index: 100;
}
.new-task input:focus{
    border: 1px solid var(--primary);
    outline: none;
}
.new-task input:focus + button{
    background-color: var(--primary);
}

.new-task .msg{
    position: absolute;
    left:0;
    top:-18px;
    text-align: center;
    font-size: 14px;
    width: 100%;
    transition: 0.4s all ease-out;
}
.new-task .msg.hidden{
    left:0;
    top:0;
}
