@import url('task.css');

/* TASK LIST */
#tasks{
    margin:auto;
}
#tasks .list-container{
    margin-top: 50px;
}
.list-container > .title{
    margin-top: 15px;
    margin-bottom: 15px;
}
.list-container > .title h2{
    text-align: center;
}
.lists{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.lists .pending,
.lists .in-process,
.lists .finalized{    
    flex: 0 0 32%;
}
.empty-list{
    margin: 10px auto;
}
.empty-list p{
    text-align: left;
}


/* BUTTONS */
.btn{
    color:white;
    padding: 3px 5px;
    background-color:#4156d9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-i{
    width: 27px;
    height: 27px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
}
.btn-i:hover{
    background-color: rgba(0,0,0,0.07);
}


@media screen  and (max-width:767px){
    #tasks{
        margin:10px;
    }
    #tasks .list-container{
        margin-top: 30px;
    }
    .lists .pending,
    .lists .in-process,
    .lists .finalized{    
        flex: 0 0 100%;
    }
    .empty-list p{
        margin-left:15px;
    }
}

.navigation{
    margin: 15px;
}