{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'task/css/main.css' %}">
{% endblock %}


{% block content %}

    <div class="navigation">
        <a href="{% url 'project:main' %}">My projects</a><span>&nbsp;&gt;&nbsp;{{ project_title }}</span>
    </div>

    {% include 'task/create.html' %}
    
    <div id="tasks">

        <div class="list-container">

            <div class="title">
                <h2>Your list task</h2>
            </div>

            <div class="lists">

                <div class="pending">
                    <div class="title-list">
                        <h4>Pending</h4>
                    </div>
                    <div class="body-list">
                        {% for task in pending %}
                        <div class="task" data-id="{{ task.id }}" data-code="{{ task.code }}" data-status="{{ task.status }}">
                            <div class="code">
                                <p class="code">{{ task.code }}</p>
                            </div>
                            <div class="title">
                                <p>{{ task.title }}</p>
                            </div>
                            <div class="status">
                                <p>Pending</p>
                            </div>
                            <div class="operations">
                                <button class="btn start">Start</button>
                                <button class="btn-i cancel" title="Cancel task"><i class="bi bi-x-lg"></i></button>
                                <button class="btn-i delete" title="Delete task"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="empty-list {% if pending %} d-none {% endif %}">
                            <p>You have no pending tasks.</p>
                        </div>
                    </div>
                </div>

                <div class="in-process">
                    <div class="title-list">
                        <h4>In process</h4>
                    </div>
                    <div class="body-list">
                    
                        {% for task in paused %}
                        <div class="task" data-id="{{ task.id }}" data-code="{{ task.code }}" data-status="{{ task.status }}">
                            <div class="code">
                                <p class="code">{{ task.code }}</p>
                            </div>
                            <div class="title">
                                <p>{{ task.title }}</p>
                            </div>
                            <div class="status">
                                <p>Paused</p>
                            </div>
                            <div class="operations">
                                <button class="btn finalize">Finalized</button>
                                <button class="btn-i resume" title="Pause task"><i class="bi bi-play-fill"></i></button>
                                <button class="btn-i cancel" title="Cancel task"><i class="bi bi-x-lg"></i></button>
                                <button class="btn-i delete" title="Delete task"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                        {% endfor %}

                        {% for task in in_process %}
                        <div class="task" data-id="{{ task.id }}" data-code="{{ task.code }}" data-status="{{ task.status }}">
                            <div class="code">
                                <p class="code">{{ task.code }}</p>
                            </div>
                            <div class="title">
                                <p>{{ task.title }}</p>
                            </div>
                            <div class="status">
                                <p>In process</p>
                            </div>
                            <div class="operations">
                                <button class="btn finalize">Finalized</button>
                                <button class="btn-i pause" title="Pause task"><i class="bi bi-pause-fill"></i></button>
                                <button class="btn-i cancel" title="Cancel task"><i class="bi bi-x-lg"></i></button>
                                <button class="btn-i delete" title="Delete task"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="empty-list {% if paused or in_process %} d-none {% endif %}">
                            <p>You have no paused or in process tasks.</p>
                        </div>
                    </div>
                </div>

                <div class="finalized">
                    <div class="title-list">
                        <h4>Finalized</h4>
                    </div>
                    <div class="body-list">
                        {% for task in finalized %}
                        <div class="task" data-id="{{ task.id }}" data-code="{{ task.code }}" data-status="{{ task.status }}">
                            <div class="code">
                                <p class="code">{{ task.code }}</p>
                            </div>
                            <div class="title">
                                <p>{{ task.title }}</p>
                            </div>
                            <div class="duration">
                                <p>{{ task.str_duration }}</p>
                            </div>
                            <div class="operations">
                                <button class="btn-i delete" title="Delete task"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                        {% endfor %}
                        
                        <div class="empty-list {% if finalized %} d-none {% endif %}">
                            <p>You have no completed tasks.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="references d-none">
            {% csrf_token %}
            <input type="hidden" class="url-create" value="{% url 'project:task:create' project_id=project_id %}">
            <input type="hidden" class="url-update" value="{% url 'project:task:update' project_id=project_id %}">
            <input type="hidden" class="url-delete" value="{% url 'project:task:delete' project_id=project_id %}">
        </div>

        <template id="item-pending">
            <div class="task" data-id="" data-code="" data-status="0">
                <div class="code">
                    <p></p>
                </div>
                <div class="title">
                    <p></p>
                </div>
                <div class="status">
                    <p>Pending</p>
                </div>
                <div class="operations">
                    <button class="btn start">Start</button>
                    <button class="btn-i cancel" title="Cancel task"><i class="bi bi-x-lg"></i></button>
                    <button class="btn-i delete" title="Delete task"><i class="bi bi-trash"></i></button>
                </div>
            </div>
        </template>
    
        <template id="item-in-process">
            <div class="task" data-id="" data-code="" data-status="">
                <div class="code">
                    <p></p>
                </div>
                <div class="title">
                    <p></p>
                </div>
                <div class="status">
                    <p>In process</p>
                </div>
                <div class="operations">
                    <button class="btn finalize">Finalized</button>
                    <button class="btn-i pause" title="Pause task"><i class="bi bi-pause-fill"></i></button>
                    <button class="btn-i cancel" title="Cancel task"><i class="bi bi-x-lg"></i></button>
                    <button class="btn-i delete" title="Delete task"><i class="bi bi-trash"></i></button>
                </div>
            </div>
        </template>
    
        <template id="item-finalized">
            <div class="task" data-id="" data-code="" data-status="3">
                <div class="code">
                    <p></p>
                </div>
                <div class="title">
                    <p></p>
                </div>
                <div class="duration">
                    <p></p>
                </div>
                <div class="operations">
                    <button class="btn-i delete" title="Delete task"><i class="bi bi-trash"></i></button>
                </div>
            </div>
        </template>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'task/js/main.js' %}" type="module"></script>
{% endblock %}
